<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <div class="main-content">
    <h2>Welcome to the Foodies Kitchen Admin Panel</h2>
    <p>Here you can manage all the sections including menu, staff, orders, and reports.</p>
  </div>

    <script>
        function toggleSubmenu(menuId) {
            const submenu = document.getElementById(menuId);
            submenu.classList.toggle('active');
        }
    </script>
</body>
</html>